<div class="container">
  <div class="row">
    <h2><%= @user.name %> さんとのチャット</h2>
    <table class="table table-borderless">
      <thead>
        <tr>
          <th><%= current_user.name %></th>
          <th><%= @user.name %></th>
        </tr>
      </thead>
      <div id="chat_list">
        <% @chats.each do |chat| %>
        <% if chat.user_id == current_user.id %>
        <tbody>
          <tr>
            <td>
              <p style="color: black;">
                <%= chat.message %>
              </p>
            </td>
            <td></td>
          </tr>
        </tbody>
        <% else %>
        <tbody>
          <tr>
            <td></td>
            <td>
              <p style="color: gray;">
                <%= chat.message %>
              </p>
            </td>
          </tr>
        </tbody>
        <% end %>
        <% end %>
      </div>
    </table>
      <%= form_with model: @chat, remote: true do |f| %>
        <%= f.text_field :message %>
        <%= f.hidden_field :room_id %>
      <% end %>
  </div>
</div>